/* top navbar */
*
{
    box-sizing: border-box;
}

#container
{
    margin: auto;
    
}
#ltopnavbar
{
    display: flex;
    justify-content: end;
    background-color: #f8f8f8;
    align-items: center;
    margin-left:-9px;
    margin-top: -10px;
    border: 1px solid #eeeeee;
}
#ltopnavbar a
{
    text-decoration: none;
    color: gray;
}

#ltopnavbar >div
{
    width: 10%;
    border: 1px solid #eeeeee;
    padding-top: 10px;
}
#ltopnavbar >div:nth-child(3)
{
    width: 3%;
    padding-right: 10px;
    margin-right: 50px;
}
#ltopnavbar a
{
    width: 10%;
    padding: 0px 19px;
}


#ltopnavbar >#country img
{
    width: 60%;
}

/* middle navbar */

#lmiddlenavbar
{
    display: flex;
    background-color: #2d2d2d;
    align-items: center;
    height: 60px;
   
}
#lmiddlenavbar a
{
    text-decoration: none;
   
    font-size: 14px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

#logo
{
    filter: invert();
}
#lleftside
{
    display: flex;
    justify-content: space-between;
    align-items: center;
  

    
}

#lleftside div
{
    border-right: 2px solid green;
}
#lleftside a
{
    padding: 0px 20px;
    font-size: medium;
    font-weight: 600;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
#lcenterside
{
    display: flex;
    width:80%;
}
#lcenterside #linput
{
    width:100%;
}
#lcenterside input
{
    width: 100%;
    padding:10px 25px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    outline: none;
    border: none;
    font-size:small;
    margin-left: 25px;
}
#lcenterside #lsearch
{
    width:20%;
}
#lcenterside button
{
    width: 100%;
    padding:10px 25px;
    background: white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size:small;
    border:none;
    
}
#lrightside
{
    display: flex;
    justify-content: left;
    margin-left: 20px;
}
#lrightside a
{
    color:white;
    font-size: 20px;
 
}
#lrightside div
{
    margin:15px
}
#cart
{
    filter: invert(1);
    margin-right: 70px;
    font-size: 20px;
}



/* bottom navbar */
#lbottomnavbar
{
    display: flex;
    justify-content: left;
    background-color:#525050;
    height:50px;
    /* margin: auto; */
    
    
}
#lbottomnavbar div
{
    padding:0px 10px;
    /* border:1px solid red; */
    font-size: small;
}
#lbottomnavbar div:nth-child(1)
{
    transform: skew(-15deg);
    background-color: #d01345;
    margin-left: 30px;
}
#lbottomnavbar div:nth-child(1) a
{
    transform: skew(15deg);
}
#lbottomnavbar a
{
    color: white;
    text-decoration: none;
    /* padding:7px; */
    font-size: 14px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}
#lpinknavbar
{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: larger;
    font-weight: 700;
    background-color: #f799ba;
    align-items: center;
    height:65px;
    width: 103%;
    margin-left:-9px;

}
#lpinknavbar button
{
    background-color: #f799ba;
    padding: 10px 20px;
    font-size: larger;
    font-weight: 500;
}
