/* fonts and global styling */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
    position: relative;
}

/* top navbar */

#container
{
    width: 100%;
    position: sticky;
    top: 0px;
}
#ltopnavbar
{
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: #f8f8f8;
    align-items: center;
    margin-left:-9px;
    margin-top: -10px;
    border: 1px solid #eeeeee;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 3px;
    
}
#ltopnavbar a
{
    text-decoration: none;
    color: rgb(88, 88, 88);
}

#ltopnavbar > div
{
    padding-top: 10px;
}
#ltopnavbar >div:nth-child(3)
{
    padding-right: 10px;
}
#ltopnavbar a
{
    width: 10%;
    padding: 0px 19px;
}


#ltopnavbar >#country img
{
    width: 18px;
}

/* middle navbar */

#lmiddlenavbar
{
    display: flex;
    background-color: #2d2d2d;
    align-items: center;
    height: 60px;
   
}
#lmiddlenavbar a
{
    text-decoration: none;
   
    font-size: 14px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

#logo
{
    filter: invert();
}
#lleftside
{
    display: flex;
    justify-content: space-between;
    align-items: center;
  

    
}

#lleftside div
{
    border-right: 2px solid green;
}
#lleftside a
{
    padding: 0px 20px;
    font-size: medium;
    font-weight: 600;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
#lcenterside
{
    display: flex;
    width:80%;
}
#lcenterside #linput
{
    width:100%;
}
#lcenterside input
{
    width: 100%;
    padding:10px 25px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    outline: none;
    border: none;
    font-size:small;
    margin-left: 25px;
}
#lcenterside #lsearch
{
    width:20%;
}

#search:focus {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

#lsearchbtn > button:hover {
    cursor: pointer;
    background-color: rgb(196, 194, 194);
}

#lcenterside button
{
    width: 100%;
    padding:10px 25px;
    background: white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size:small;
    border:none;
    
}
#lrightside
{
    display: flex;
    justify-content: left;
    margin-left: 20px;
}
#lrightside a
{
    color:white;
    font-size: 20px;
 
}
#lrightside div
{
    margin:15px
}
#cartIcon
{
    margin-right: 70px;
    font-size: 20px;
}

/* bottom navbar */
#lbottomnavbar
{
    display: flex;
    justify-content: left;
    background-color:#525050;
    height:50px;
    /* margin: auto; */
    
    
}
#lbottomnavbar div
{
    padding:0px 10px;
    /* border:1px solid red; */
    font-size: small;
}
#lbottomnavbar div:nth-child(1)
{
    transform: skew(-15deg);
    background-color: #d01345;
    margin-left: 30px;
}
#lbottomnavbar div:nth-child(1) a
{
    transform: skew(15deg);
}
#lbottomnavbar a
{
    color: white;
    text-decoration: none;
    /* padding:7px; */
    font-size: 14px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}
#lpinknavbar
{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: larger;
    font-weight: 700;
    background-color: #f799ba;
    align-items: center;
    padding: 10px 0px;
}
#lpinknavbar button
{
    background-color: #f799ba;
    padding: 10px 20px;
    font-size: larger;
    font-weight: 500;
}
/* media query */
@media(max-width:880px)
{
    #lcenterside input
    {
        display: none;
    }  
    #lcenterside button{
        background-color: #2d2d2d;
        color: white;
        font-size: 18px;
        margin-right: -25px;
    }  
    #lleftside div:nth-child(1)
    {
        border-right: none;
    }
    #lleftside div:nth-child(2),#lleftside div:nth-child(3)
    {
        display: none;
    }
    #lbottomnavbar
    {
        display: none;
    }
    #lpinknavbar button
    {
        display: none;
    }

}
@media(max-width:1045px)
{
    #lbottomnavbar div:nth-child(11),#lbottomnavbar div:nth-child(13)
    {
        display: none;
    }   
}