@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgba(218, 221, 221, 0.822);
}


.wrapper {
    width: 100vw;
    height: 155vh;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(218, 221, 221, 0.822);
}

  

.modelForm {
    position: absolute;
    top: 100px;
    width: 650px;
    background-color: rgb(255, 255, 255);
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 20px;
}

#logo{
   width:5%;
   height:5%;
   background:transparent;
   margin-top:-970px;
   margin-left:-20px;
   position: absolute;
}
.actionBtns {
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    /* border-radius: 50px; */
    margin-top: 25px;
    /* add box shadow */
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;


}

.actionBtn {
    padding: 1em;
    width: 50%;
    border: none;
    background-color: transparent;
    border-radius: 50px;
    /* color:white; */
    font-size: 0.8em;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.7;
    color: rgba(16, 15, 15, 0.666);
}

.moveBtn {
    position: absolute;
    width: 50%;
    height: 90%;
    margin: 2px;
    border: none;
    outline: none;
    /* border-radius: 50px; */
    background-color: white;
    font-size: 0.8em;
    font-weight: 800;
    transform: translateX(0);
    transition: all 0.1s ease-in-out;
    /* add box shadow */
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.7;


}


.mail {
    margin-top: 28px;

}

.three-option>div {

    width:150px;
    margin-top: 30px;
    display: inline-block;
    margin-left: 35px;
    margin-right: 5px;
    justify-content: space-around;
    border: 2px solid rgb(139, 139, 139);
    /* border-radius: 10px; */
    font-family: 'Nunito', sans-serif;
    cursor: pointer;

}

.three-option>div:hover{
    background-color: rgb(243, 230, 230);
    color: rgb(163, 161, 161);
    transition: all 0.2s ease-in-out;
}

.space {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: rgb(16, 9, 9);
}

.detail {
    text-align: center;
    margin-top: 22px;
    font-style: oblique;
}

.rightBtn {
    transform: translateX(98%);
    transition: all 0.2s ease-in-out;
}

.inputGroup {
    width: 300px;
    height: 0.8em 0;
    border-radius: 50px;
    color: grey;
    font-weight: 500;
    display: block;
    margin-top: 25px;

    /* add background color*/
}

.inputGroup input {
    width: 100%;
    padding: 1em 1.5em;
    margin-top: 12px;
    background-color: transparent;
    border: none;
    /* border-radius: 50px; */
    border: 1px solid black;
    margin-left: 50%;

}


.inputGroup input:focus {
    outline: none;


}

.submitBtn {
    width: 300px;
    padding: 1em;
    margin: 2em 0;
    border: 1px solid black;
    outline: none;
    background-color: rgb(48, 45, 45);
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    color: white;
    margin-left: -45px;
}

.submitBtn:hover {
    background-color: grey;
    color: white;
    transition: all 0.2s ease-in-out;
}

.form {
    display: none;
    text-align: center;

}

.signupForm {
    display: block;

}

.loginForm {
    display: block;
}

.forgot {
    margin-top: 15px;
    text-align: center;
}




.signin-form {
    text-align: center;
}

.twitter {
    text-align: center;
    margin-top: 15px;
}

.center {
    margin-left: 40%;
}

.center1 {
    margin-left: 30%;
}

.center4 {
    margin-left: 12%;
}

.inputGroup1 input {

    width: 80%;
    padding: 1em 1.5em;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    /* border-radius: 50px; */
    border: 1px solid black;
    margin-left: 3%;

}

#loginMail {
    margin-top: 20px;
    margin-left: -190px;
}

#passwordMail {
    margin-top: 20px;
    margin-left: -220px;
}

.submitBtn1 {
    width: 300px;
    padding: 1em;
    margin: 2em 0;
    border: 1px solid black;
    outline: none;
    background-color: rgb(48, 45, 45);
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    color: white;
    margin-left:58px;
}

.privacy {
    margin-top: 20px;
}



.fa-google{
    margin-right: 15px;
    color:rgb(63, 136, 200);
    cursor: pointer;
}

.fa-apple{
    margin-right: 15px;
    color:black;
}

.fa-square-facebook{
    margin-right: 15px;
    color:blue;
}

.fa-google:hover{
    background-color: rgb(243, 230, 230);
    color: rgb(163, 161, 161);
    transition: all 0.2s ease-in-out;
}

.fa-apple:hover{
    background-color: rgb(243, 230, 230);
    color: rgb(163, 161, 161);
    transition: all 0.2s ease-in-out;
}

.fa-square-facebook:hover{
    background-color: rgb(243, 230, 230);
    color: rgb(163, 161, 161);
    transition: all 0.2s ease-in-out;
}

#EMAIL{
    width: 65%;
    margin-left:55px;
}

#PASSWORD{
    width: 65%;
    margin-left:55px;
}

#gotoHome{
    width: 88px;
    height: 35px;
    background-color: black;
    margin-top: -975px;
    margin-left: 550px;
    border-radius: 25px;
    color: white;
}

#gotoHome:hover{
    background-color:rgb(174, 175, 185);
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}