/* single image */
#lwasosdesign
{
    background-image: url("https://content.asos-media.com/-/media/homepages/ww/2022/nov/29/ww_global_raw_edge_desktophero_1258x600.jpg");
    width: 95%;
    height: 95vh;
    background-size: cover;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#lwthread
{
    background-color: white;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;   
    padding: 12px;
    margin-top: 360px;
}
#lwEdgy,#lwEdgy-2
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#lwsad
{
    background-color: white;
    font-size: 17px;
    font-weight: bolder; 
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    padding: 12px;
}
/* grid part */
#lwgridpart1
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    margin:33px;
    
}
#lwgridpart1 a
{
    text-decoration: none;
}
#lwgridpart1 h5
{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 700;
}
#lwgridpart1 p
{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;
}  
#lwgridpart1 div
{
    width: 100%;
    text-align: center;
}
#lwgridpart1 img
{
    width: 100%;
}
/* get gift-part */

#lwgetgift
{
    background-image: url("https://content.asos-media.com/-/media/hubs/gifting/2022/01_jpeg/gifting/dt_live-text-banner_2880x600_compress.png");
    background-size: cover;
    width: 100%;
    height: 30vh;
    text-align: center;
}
#lwgetgift p
{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 900;
    padding:30px 0px 0px 0px;
    /* line-height: 30px; */
}
#lwdiscover
{
    background-color: black;
    color: white;
    padding:10px 10px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    

}
/* grid part-2 */
#lwgridpart2
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    margin:43px 163px;
    
}
#lwgridpart2 a
{
    text-decoration: none;
}
#lwgridpart2 h6
{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px
}
#lwgridpart2 p
{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;
    margin-top: -40px;
} 
#lwgridpart2 button
{
    background-color: white;
    padding: 15px 40px;
    font-weight: bolder;
} 
#lwgridpart2 div
{
    width: 100%;
    text-align: center;
}
#lwgridpart2 img
{
    width: 100%;
}
#lwtrending
{
    width: 100%;
    text-align: center;

}
#lwbrands
{
    text-align: center;
    font-size: 24px;
    color: #000;
    font-weight: 700;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/* grid-part3 */
#lwgridpart3
{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap:20px;
    margin:33px;
    
}
#lwgridpart3 div
{
    width: 100%;

}
#lwgridpart3 img
{
    width: 100%;
}

.clickable {
    cursor: pointer;
}

@media(max-width:730px)
{
    #lwgridpart1
    {
        grid-template-columns: repeat(2,1fr);
    }
    #lwthread
    {
      font-size: 36px;   
    }
    #lwsad
    {
        font-size: 13px;
    }
    #lwgetgift p
    {
        font-size: 15px;
    }
    #lwgetgift
    {
        background-image: url("https://tse1.mm.bing.net/th?id=OIP.o14nANT_2gOcLtMCcwnAfQHaEK&pid=Api&P=0");
        height: 170px;
    }
    #lwgridpart2
    {
        grid-template-columns: repeat(1,1fr);
    }
    #lwgridpart3
    {
        grid-template-columns: repeat(2,1fr);
    }
   

}



